html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}


ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  margin: 30px;
}

.board {
  display: inline-block;
  border: 10px solid black;
}

ul {
}

ul:after {
  content: "";
  clear: both;
  display: block;
}

li {
  float: left;
  width: 20px;
  height: 20px;
}

.empty {
  background: gray;
}
.apple {
  background: red;
}

.snake {
  background: green;
}
